
	GtkLabel {
		font-family: Roboto;
	}
	
	#OPTION_LABEL {
		font-family: "Roboto light";

	}

	#OUTPUT_LABEL {

		color: #3366cc;
		font: 10px Roboto Bold;

	}

	#MSG_ERROR_LABEL {

		color: #CC0000;
		font: 11px Roboto Bold; 
	}

	#MSG_LABEL {

		color: #3366cc;
		font: 11px Roboto Bold;
			
	}	

    #WINDOW{
		
		background-color: #f1f1f1;
		
	}

	#BTN_MENU{
		border: lightgrey solid 1px;
		box-shadow:3px 3px 3px grey;
	}

	#BTN_REMOVE{
		border:0px;
		background-color:red;
	}

	#BTN_REMOVE:hover{
		border:0px;
		background-color:#FF5555;
	}

	#BTN_RUN{
		border:0px;
		background-color:blue;
	}

	#BTN_RUN:hover{
		border:0px;
		background-color:#0065ff;
	}

	#LIST_SEPARATOR{
		color:gray;
	}
	
	#LIST_LABEL {
		color: black;
		font: 16px Roboto;
	}	
	
	#LIST_ROW:hover,#LIST_ROW:active {
		background-color: black;
		font: 16px Roboto Bold;
	}	

	#SPINNER {
		border: solid black 10px;
		background-color:black;
		margin:10px;
	}
