[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-air-installer
Actions=installPackage

[Desktop Action installPackage]
Name=Install air application
Name[ca_ES.UTF-8@valencia]=Instal·lar aplicació Air
Name[ca_ES@valencia]=Instal·lar aplicació Air
Name[ca]=Instal·lar aplicació Air
Name[es]=Instalar aplicación Air
Exec=/usr/bin/air-installer %u
Icon=air-installer
